#root {
  font-family: monospace;
}

* {
  font-family: inherit;
  color: silver;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

button {
  background: #171717;
  padding: 10px;
  border: 1px solid silver;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #000;
}

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Авто-адаптация */
  gap: 20px;
  width: 100%;
}
