.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  border: 1px solid silver;
  padding: 5px 30px;
  margin: 10px;
}

.input {
  padding: 10px;
}

.button {
  margin: 0 0 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid silver;
  padding: 10px;
}
